.searchbar {
  background-color: transparent;
  
}

.searchbar-input {
  background-color: transparent;
  border: none;
  /* border: 1px solid white; */
  /* padding: 0.5rem 1rem; */
  color: white;
}

.searchbar-input:focus{
  outline: none;
}

/* .searchbar-input:focus{
  outline: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid white;
} */

.searchbar-content{
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.fa-searchbar-icon{
  color: white;
  margin-right: 1rem;
}



/* .rmdb-searchbar {
  width: 100%;
  height: 105px;
  background: #1c1c1c;
  position: relative;
  padding: 25px 20px 0px 20px;
  box-sizing: border-box;
  color: #fff;
}

.rmdb-searchbar-content {
  max-width: 1280px;
  width: 40%;
  height: 55px;
  background: #353535;
  background: black;
  margin: 1.5rem 8.5rem;
  border-radius: 40px;
  position: relative;
  color: #fff;
  border: 1px solid white;
}

.rmdb-fa-search {
  position: absolute;
  left: 20px;
  top: 12px;
  color: #fff;
}

.rmdb-searchbar-input {
  font-family: "Abel", sans-serif;
  font-size: 38px;
  position: relative;
  margin: 8px 0 0 60px;
  border: 0;
  background: transparent;
  height: 40px;
  width: 90%;
  color: #fff;
}

.rmdb-searchbar-input:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .rmdb-searchbar-input {
    margin: 8px 0 0 60px;
    font-size: 28px;
    color: #fff;
  }
} */
