.App {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding: 0 0 2rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  /* background: tomato; */
}

/* .load-more-btn.container.custom-button {
  width: 50%;
  margin: 4rem auto 2rem;
} */

a {
  text-decoration: none;
  color: inherit;
}

.loadMore-btn {
  padding: 0.5rem 1rem;
  background: #c72c24;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  /* border: 1px solid #c72c24; */
  width: 50%;
  margin: 3rem 0;
}

.loadMore-btn:hover {
  color: whitesmoke;
  /* border: 1px solid black; */
  border: 1px solid #c72c24;
  background: none;
  cursor: pointer;
}
